
h2{
    font-family: "Pockota Light";
    color: #3d2100;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    position: relative;
}

p.hero{
  font-family: "Plus Jakarta Sans";
  color: #3d2100;
  text-align: center;
  font-size: 1rem;
}

.file-input {
  display: none;
}

.content{
    display: flex;
    flex-direction: column;
}
.file-form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-box{
  background-color: #fff0b9;
  display: flex;
  min-width: 40vw;
  min-height: 20vh;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans";
}

.file-submit-btn{
  display: flex;
  background-color: #ffdd5f;
  border: none;
  padding: 10px 30px;
  font-family: "Plus Jakarta Sans";
  border-radius: 20px;
}

.prediction{
  background-color: #ffdd5f;
  min-height: 15rem;
  color: #3d2100;
}

.prediction h2{
  font-family: "Pockota";
  font-size: 3rem;
  text-align: center;
}

.zip-form{
  display: flex;
  flex-direction: column;
}

.prediction .title {
  font-family: "Pockota";
  font-size: 40px;
  color: #3d2100;
  text-align: center;
}

.prediction .content {
  display: flex;
  flex-direction: row;
}

.prediction #gif{
  width: 400px;
  height: 400px;
}

.prediction .paragraph{
  font-family: "Plus Jakarta Sans";
  color: #3d2100;
  font-size: 1.2rem;
}

.zip-form p{
  font-family: "Plus Jakarta Sans";
  text-align: center;
  color: #3d2100;

}

.zip-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zip-input{
  width: 400px;
  height: 40px;
  border: none;
  font-family: "Plus Jakarta Sans";
}

.zip-submit-btn{
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffdd5f;
  color:#3d2100;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
}

.facility-name{
  font-family: "Pockota Light";
}